# REMOVE COMMENTS WHEN COPY THIS FILE AND TRIM TRAILING WHITESPACES
# Ask the team for recommended values

# DOCKER VARIABLES FOR AUTOMATION
SUDO=sudo                                               # <- how local user executes system commands - leave it empty if not necessary ----------------------> #
DOCKER=sudo docker                                      # <- how local user executes Docker commands --------------------------------------------------------> #
DOCKER_COMPOSE=sudo docker compose                      # <- how local user executes "docker compose" or docker-compose command -----------------------------> #

# CONTAINERS BASE INFORMATION FOR BUILDING WITH docker-compose.yml
PROJECT_NAME="WORK TC"                                  # <- project name will be used for automation outputs -----------------------------------------------> #
PROJECT_LEAD=wtc                                        # <- abbreviation or acronym name as part of the container tag that is useful relationship naming ---> #
PROJECT_HOST="127.0.0.1"                                # <- machine hostname referrer - not necessary for this project -------------------------------------> #
PROJECT_CNET=snf-dev                                    # <- useful when a network is required for container connections between each other -----------------> #

# DATABASE - LOCAL
DATABASE_PLTF=pgsql-16.4                                # <- platform assets directory's name ---------------------------------------------------------------> #
DATABASE_IMGK=alpine3.22-pgsql-16.4                     # <- real main image keys to manage automations for sharing resources -------------------------------> #
DATABASE_PORT=7700                                      # <- local machine port opened for container service ------------------------------------------------> #
DATABASE_CAAS=snf-pgsql-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
DATABASE_CAAS_MEM=512M                                  # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
DATABASE_CAAS_SWAP=1G                                   # <- container's RAM swap space in storage executed by automation command ---------------------------> #
DATABASE_ROOT="J4YPuJaieJ35gNAsk5U2usyphvnjAMRe"        # <- database root password -------------------------------------------------------------------------> #
DATABASE_NAME=wtc_local                                 # <- database name ----------------------------------------------------------------------------------> #
DATABASE_USER=devuser                                   # <- database user ----------------------------------------------------------------------------------> #
DATABASE_PASS="devpass"                                 # <- database password ------------------------------------------------------------------------------> #
DATABASE_PATH="/resources/database/"                    # <- sql file's directory ---------------------------------------------------------------------------> #
DATABASE_INIT=pgsql-init.sql                            # <- init sql file ----------------------------------------------------------------------------------> #
DATABASE_BACK=pgsql-backup.sql                          # <- backup sql file --------------------------------------------------------------------------------> #

# REDIS - LOCAL
REDIS_PLTF=redis-8.6                                    # <- platform assets directory's name ---------------------------------------------------------------> #
REDIS_IMGK=alpine-3.23-redis-8.6                        # <- real main image keys to manage automations for sharing resources -------------------------------> #
REDIS_PORT=7701                                         # <- local machine port opened for container service ------------------------------------------------> #
REDIS_BIND="../data"                                    # <- container persistant data on local machine -----------------------------------------------------> #
REDIS_CAAS=snf-redis-dev                                # <- container name to build the service - it is important to set the environment in this variable --> #
REDIS_CAAS_MEM=128M                                     # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
REDIS_CAAS_SWAP=512M                                    # <- container's RAM swap space in storage executed by automation command ---------------------------> #
REDIS_ROOT_USER=rootuser                                # <- database root user -----------------------------------------------------------------------------> #
REDIS_ROOT_PASS=rootpass                                # <- database root password -------------------------------------------------------------------------> #
REDIS_APP_USER=devuser                                  # <- database user ----------------------------------------------------------------------------------> #
REDIS_APP_PASS=devpass                                  # <- database password ------------------------------------------------------------------------------> #

# MONGODB - LOCAL
MONGODB_PLTF=mongodb-8.2                                # <- platform assets directory's name ---------------------------------------------------------------> #
MONGODB_IMGK=mongo:8.2.4                                # <- real main image keys to manage automations for sharing resources -------------------------------> #
MONGODB_BIND="../data"                                  # <- container persistant data on local machine -----------------------------------------------------> #
MONGODB_CAAS=snf-mongodb-dev                            # <- container name to build the service - it is important to set the environment in this variable --> #
MONGODB_CAAS_MEM=128M                                   # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
MONGODB_CAAS_SWAP=512M                                  # <- container's RAM swap space in storage executed by automation command ---------------------------> #
MONGODB_PORT=7702                                       # <- local machine port opened for container service ------------------------------------------------> #
MONGODB_NAME=wtc_local                                  # <- default database name --------------------------------------------------------------------------> #
MONGODB_USER=rootuser                                   # <- database root user -----------------------------------------------------------------------------> #
MONGODB_PASS=rootpass                                   # <- database root password -------------------------------------------------------------------------> #
MONGODB_APP_PORT=7703                                   # <- local machine port opened for container service client -----------------------------------------> #
MONGODB_APP_USER=devuser                                # <- database user ----------------------------------------------------------------------------------> #
MONGODB_APP_PASS=devpass                                # <- database password ------------------------------------------------------------------------------> #

# API - LOCAL
APIREST_PLTF=nginx-php-8.3                              # <- platform assets directory's name ---------------------------------------------------------------> #
APIREST_IMGK=alpine3.22-nginx1.28-php8.3                # <- real main image keys to manage automations for sharing resources -------------------------------> #
APIREST_PORT=7704                                       # <- local machine port opened for container service ------------------------------------------------> #
APIREST_BIND="../../../apirest"                         # <- path where application is binded from container to local ---------------------------------------> #
APIREST_CAAS=snf-apirest-dev                            # <- container name to build the service - it is important to set the environment in this variable --> #
APIREST_CAAS_USER=osuser                                # <- container's project directory user -------------------------------------------------------------> #
APIREST_CAAS_GROUP=osgroup                              # <- container's project directory group ------------------------------------------------------------> #
APIREST_CAAS_MEM=128M                                   # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
APIREST_CAAS_SWAP=512M                                  # <- container's RAM swap space in storage executed by automation command ---------------------------> #

# MAILER - LOCAL
MAILER_PLTF=mailhog-1.0                                 # <- platform assets directory's name ---------------------------------------------------------------> #
MAILER_IMGK=mailhog:alpine-3.12-mailhog-1.0             # <- real main image keys to manage automations for sharing resources -------------------------------> #
MAILER_PORT=7705                                        # <- local machine port opened for container service ------------------------------------------------> #
MAILER_CAAS=snf-mailhog-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
MAILER_CAAS_MEM=128M                                    # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
MAILER_CAAS_SWAP=512M                                   # <- container's RAM swap space in storage executed by automation command ---------------------------> #
MAILER_APP_PORT=7706                                    # <- application ui management port -----------------------------------------------------------------> #

# BROKER - LOCAL
BROKER_PLTF=rabbitmq                                    # <- platform assets directory's name ---------------------------------------------------------------> #
BROKER_IMGK=rabbitmq:4.2-management-alpine              # <- real main image keys to manage automations for sharing resources -------------------------------> #
BROKER_PORT=7707                                        # <- local machine port opened for container service ------------------------------------------------> #
BROKER_BIND="./rabbitmq_data"                           # <- platform broker data storage in local ----------------------------------------------------------> #
BROKER_CAAS=snf-rabbitmq-dev                            # <- container name to build the service - it is important to set the environment in this variable --> #
BROKER_CAAS_MEM=128M                                    # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
BROKER_CAAS_SWAP=512M                                   # <- container's RAM swap space in storage executed by automation command ---------------------------> #
BROKER_APP_PORT=7708                                    # <- application ui management port -----------------------------------------------------------------> #
BROKER_APP_USER=guest                                   # <- application ui management user -----------------------------------------------------------------> #
BROKER_APP_PASS=guest                                   # <- application ui management password -------------------------------------------------------------> #
BROKER_APP_COOKIE="3pBRVIu08orKbB7ddlEFeSZ2sQ4kpX8d"    # <- application security ---------------------------------------------------------------------------> #
BROKER_APP_NODENAME=rabbit@rabbitmq                     # <- application configuration ----------------------------------------------------------------------> #
