# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.prod
.env.production
vendor
node_modules
dist
dist-ssr
*.local

# Repository
/vault
/platform/pgsql-16/data
/platform/redis-8.6/data
/platform/mongodb-8.2/data
/platform/rabbitmq-4.2/data
/platform/rabbitmq-4.2/log
/platform/mailhog-1.0/data
/platform/mailhog-1.0/log
/resources/database/*
!/resources/database/.gitkeep
/resources/docs/apirest/project/*
!/resources/docs/apirest/project/.gitkeep
/platform/pgsql-*/data/*
!/platform/pgsql-*/data/.gitkeep
/apirest/*
!/apirest/.gitkeep
/webapp/*
!/webapp/.gitkeep