# IF GNU MAKE IS INSTALLED - IT IS NOT REQUIRED TO UPDATE THIS ENVIRONMENT FILE
# REMOVE COMMENTS WHEN COPY THIS FILE AND TRIM TRAILING WHITESPACES
# Ask the team for recommended values

COMPOSE_PROJECT_LEAD="myproj"
COMPOSE_PROJECT_CNET="mp-dev"
COMPOSE_PROJECT_IMGK="alpine-3.22-mailhog"
COMPOSE_PROJECT_HOST="127.0.0.1"
COMPOSE_PROJECT_PORT=7504
COMPOSE_PROJECT_NAME="mp-mailhog-dev"
COMPOSE_PROJECT_MEM="128M"
COMPOSE_PROJECT_SWAP="512M"
COMPOSE_PROJECT_APP_PORT="7505"